body {
  background-color: #89cff0;
}

.container {
  display: flex;
}

.gridContainer {
  flex: 1;
  text-align: center;
}

.gridContainer h1 {
  padding: 20px;
}

.buttonContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subButtonContainer {
  text-align: center;
}

.subButtonContainer button {
  font-size: 20px;
  padding: 10px;
}
.subButtonContainer p {
  font-size: 20px;
  padding: 10px;
}
