body {
  background-color: #89cff0;
}

#title {
  padding: 20px;
  font-size: 37px;
}

.container {
  display: flex;
}

.gridContainer {
  flex: 1;
}

.rightContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  text-align: center;
}

.settings {
  text-align: center;
  padding-bottom: 20px;
}

.settings input {
  width: 60px;
}

.settings button {
  font-size: 15px;
  padding: 5px;
}

.playGame > button {
  font-size: 20px;
  padding: 10px;
}

.settingChoices {
  text-align: right;
  padding-right: 80px;
}
